pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
/.lein-*
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/.idea
/*.iml
/*.log
/*-init.clj
/resources/public/cljs-out
out
.vscode
.rebel_readline_history
.clj-kondo/.cache
figwheel_server.log
node_modules
dist
secrets
.DS_Store
.calva
.lsp
/deploy/datomic/releases/